@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Trong tệp CSS hoặc Tailwind CSS */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari và các trình duyệt WebKit khác */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên Internet Explorer và Edge */
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #150f38; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
